/* Styles for Light and Dark Themes */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f7fc;
    color: #333;
}

.dark-theme {
    background-color: #090c10;
    color: #ecf0f1;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Navigation bar */
.navbar {
    background-color: #1e2a47;
    padding: 10px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.tablink {
    background-color: #3e5c76;
    border: none;
    color: white;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    border-radius: 5px;
}

.tablink:hover, .tablink.active {
    background-color: #4fa3d1;
}

.tabcontent {
    display: none;
}

/* Logo Styling */
.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.btc-logo {
    width: 50px;
    height: 50px;
    margin-right: 15px;
}

/* Settings */
.settings {
    margin-bottom: 20px;
}

.settings-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 20px;
}

.settings-container label {
    font-size: 16px;
    color: #34495e;
}

.settings-container select, .settings-container input {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Data Table */
#btcTable {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

#btcTable th, #btcTable td {
    padding: 12px;
    text-align: center;
    border: 1px solid #ddd;
}

#btcTable th {
    background-color: #3e5c76;
    color: #fff;
}

/* Average display */
#average {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #ff2d2d;
    border-radius: 5px;
}

#average span {
    font-size: 14px;
}

/* Chart */
.chart-container {
    margin-top: 20px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
